
    <div class="row">
        <div class="col-xs-7">
        <app-recipies-list (recipiewasClicked) = "selectedRecipie = $event"></app-recipies-list>
        </div>
        <div class="col-xs-5">
            <app-recipies-detail *ngIf="selectedRecipie; else thenTemplate "
            [recip]= "selectedRecipie"></app-recipies-detail>
            <ng-template #thenTemplate>
                <p>Please select the Recipie!</p>
            </ng-template>
           
            
        </div>
    </div>
